<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
		<h5>PAGE DE CONSULTATION D'UN PROFESSEUR</h5>
 <p>
  <table >
     <tr><td>Id : </td><td>{{professeur.id}} </td></tr>
	<tr><td>Nom : </td><td>{{professeur.nom}}</td>
	<!--<td  rowspan="8" class="imgPro">
					{% set photo = 'img/professeur/'~ professeur.id ~'.jpg' %}
					<span class="zoom"><img src="{{ asset(photo | trans )}}" title="{{ professeur.prenom ~ " " ~ professeur.nom }}" alt="{{ professeur.prenom ~ " " ~ professeur.nom }}"/></span></td></tr> </td>
    --><tr><td>Prénom : </td><td>{{professeur.prenom}}</td></tr></tr>
	
       <tr><td>Date de naissance : </td><td>{{professeur.dtNaissance|date("d/m/Y")}}</td></tr>
	   
	   <tr><td>Compétences enseignées par le professeur :</td></tr>
	   {% for c in professeur.competences %}
		<tr>
			<td>     </td>
			<td><a href="{{ path('competenceConsulter', { 'id': c.id }) }}">{{ c.libelle }}</a></td>
	{% else %}
		<tr>
		<td>Aucune matière.</td>
		</tr>
	{% endfor %}
	
 </table>
	
	
	Ajouter une competence  (Indisponible)</br>
	<a href="{{ path('professeurModifier', { 'id': professeur.id }) }}">Modifier le professeur</a> </br>
	<a href="{{ path('professeurLister') }}">Retour à la liste des professeurs</a>
	 
    </body>
</html>