<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>CONSULTATION D'UNE NOTE</h5>
 <p>
 
  <table >
	<tr><td>eleve</td> <td><a href="{{ path('etudiantConsulter', { 'id': note.etudiant.id }) }}">{{ note.etudiant.nom }} {{ note.etudiant.prenom }}</a></td></tr>
	<tr><td>Compétence</td> <td><a href="{{ path('competenceConsulter', { 'id': note.competence.id }) }}"> {{ note.competence.libelle }}</a></td></tr>
	<tr><td>date</td> <td>{{ note.dateNote|date("d/m/Y") }}</td></tr>
	<tr><td>note</td> <td>{{ note.note }}</td></tr>
	 
 </table>
	
	 
    </body>
</html>