<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
		Hello les SIO</br>
		Quelles notes obtiendrez vous au BTS en {{pAnnee}} ? </br>
		</br>
		</br>
		Bienvenue à Poudlard ! </br>
		</br>
		<a href="{{ path('maisonLister') }}">Accéder à la liste des maisons</a> </br>
		<a href="{{ path('competenceLister') }}">Accéder à la liste des competences</a> </br>
		<a href="{{ path('stageLister') }}">Accéder à la liste des stages</a> </br>
		<a href="{{ path('entrepriseLister') }}">Accéder à la liste des entreprises</a> </br>
		<a href="{{ path('tuteurLister') }}">Accéder à la liste des tuteurs</a> </br>
		<a href="{{ path('professeurLister') }}">Accéder à la liste des professeurs</a>
		
		
    </body>
</html>